* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'El Messiri', sans-serif;
    background: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 60px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 
                0 6px 6px rgba(0, 0, 0, 0.1);
}

.card::before {
    position: absolute;
    content: '';
    bottom: -30px;
    right: -30px;
    background-color: chocolate;
    height: 220px;
    width: 220px;
    border-radius: 30px;
    z-index: -1;
}

.card img {
    display: block;
    margin-top: -70px;
    margin-bottom: 10px;
    width: 50px;
}

.card h2 {
    margin: 0;
}

.box p {
    line-height: 24px;
}

.btn {
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 
                0 6px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    text-decoration: none;
}

.btn.paypal {
    background-color: #0070ba;
    margin-right: 10px;
}

.btn.patreon {
    background-color: #e85b46;
}