* {
    padding: 0;
    margin: 0;
    justify-content: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.heart {
    background: orangered;
    position: relative;
    height: 100px;
    width: 100px;
    transform: rotate(-45deg);
}

.heart::after {
    background: inherit;
    content: "";
    position: absolute;
    top: -50%;
    left: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.heart::before {
    background: inherit;
    content: "";
    position: absolute;
    top: 0;
    right: -50%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}